<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         stopOnFailure="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false">
	<testsuites>
		<testsuite name="common">
			<directory suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
